<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hesso.greenliving"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hesso.greenliving.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.hesso.greenliving.ui.DialogAccount"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:label="Account">
        </activity>
        <activity 
            android:name="com.hesso.greenliving.ui.DialogBudget"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:label="Budget">
        </activity>
        <activity 
            android:name="com.hesso.greenliving.ui.DialogCreditExpense"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:label="Credit/Expense">
        </activity>
        <activity 
            android:name="com.hesso.greenliving.ui.DialogDateSelector"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:label="Date selection">
        </activity>
        <activity 
            android:name="com.hesso.greenliving.ui.DialogTransfer"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:label="Transfer">
        </activity>
        <activity 
            android:name="com.hesso.greenliving.ui.DialogAccountHelp"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:label="Help">
        </activity>
        <activity 
            android:name="com.hesso.greenliving.ui.DialogAbout"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:label="@string/about">
        </activity>
    </application>

</manifest>